<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Folder List</h1>
    <a th:href = "@{/showNewFolderForm}" >Add Folder</a>
    <table border="1">
        
        <thead>
                <tr>
                    <th>Folder Name</th>
                    <th>Actions</th>
                </tr>
                    
        </thead>
        <tbody>
            <tr th:each="folder:${listFolders}">
                <td th:text="${folder.name}"></td>
                <td><a th:href="@{/showFormForUpdateFolder/{id}(id=${folder.id})}">Edit</a>
                    <a th:href="@{/deleteFolder/{id}(id=${folder.id})}">Delete</a>
                    <a th:href="@{/taskbyfolder/{id}(id=${folder.id})}">View</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>